div {
    height: 200px;
    width: 200px;
    background-color: chocolate;
}

@media (max-width : 300px) {
    div {
        color: green;
    }
}

@media (min-width : 300px) and (max-width : 400px) {
    div {
        color: pink;
    }
}

@media (min-width : 400px) and (max-width : 600px) {
    div {
        color: red;
    }
}

@media (min-width : 600px) {
    div {
        color: blue; 
    }
}