div {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border: 2px solid black;
    position: absolute;
    top: 200px;
    left: 400px;
    animation: colorAnimate 15s ease-in 0s infinite normal; 
}

@keyframes colorAnimate {
    0% {
        left: 0px;
        background-color: yellow;
        color: blue;
    }
    50% {
        left: 500px;
        background-color: red;
        color: black;
    }
    75% {
        left: 750;
        background-color: brown;
        color: yellow
    }
    100% {
        left: 1000;
        background-color: black;
        color: white;
    }
}

div:hover