#navbar {
    height: 60px;
    background-color: black;
    border: 2px solid white;
    color: white;
}

a {
    padding-right: 110px;
    text-decoration: none;
    color: white;
}

#logo {
    font-size: 25px;
    color: #f08804;
}

button {
    color: yellow;
    background-color: #f08804;
}

#content {
    height: 300px;
}

#content div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

#one {
    background-color: rgba(0, 0, 255, 0.5);
}

#two {
    background-color: rgba(0, 255, 0, 0.5);
}

#three {
    background-color: rgba(255, 0, 0, 0.5)
}

footer {
    background-color: black;
    height: 50px;
    border: 2px solid white;
}